*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  background-color: #1F1F1F;
  height: 100vh;
  padding: 40px;
  margin: 0;
  position: relative;
}

a {
  color: #75C9C8;
}
